<main class="px-0" style="background-color: #F9F7ED; height: 1000px;">
  <div class="container-fluid">
    <div class="row">
      <%= render 'public/link' %>
      <div class="col">
        <div class="row justify-content-center my-3">
          <div class="col text-center fs-3 fw-bold" style="color: #FFAE00;">
            いいね一覧
          </div>
        </div>
        <%= render 'public/fishing_successes' %>
        <div class="row justify-content-center my-3">
          <div class="col-auto">
            <%= paginate @fishing_successes %>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>