@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

.favorite{
  text-decoration: none;
  color: #FF3399;
}

.not-favorite{
  text-decoration: none;
  color: #999999;
}

.favorite:hover{
  text-decoration: none;
  color: #99004D;
}

.not-favorite:hover{
  text-decoration: none;
  color: #4D4D4D;
}

.link{
  text-decoration: none;
  color: #000;
}

.link:hover{
  text-decoration: none;
  color: #000;
  opacity: 0.8;
}
